{% load static %}
{% block body %}
{% include 'header.html' %}



<div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row align-items-center">
        
                <div class="card border-0">
                    <div class="card-header bg-light text-center p-4">
                        <h1 class="m-0">Sign Up Now</h1>
                    </div>
                    <div class="card-body rounded-bottom bg-dark p-5">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control border-0 p-4" name="username" placeholder="Your name"  required="required" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control border-0 p-4" name="password" placeholder="Your password" required="required"  />
                            </div>
                            
                            <div>
                                <button class="btn btn-info btn-block border-0 py-3" type="submit"><a href="/reg" >Login</button></a> 
                            </div>
                            <br>
                            
                            <div>
                                <p style="color: white;">No Account?<a href="/reg2">Sign Up...</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% include 'footer.html' %}